<<<<<<< HEAD
.bottom-footer {
	clear: both;
	background: $darkBlue;
	color: $teal;
	width: 100%;
	margin: 0;
	padding: 10px;
	text-align: center;
=======
footer {
	clear: both;
>>>>>>> c33035f6728b2e00faa5af89d06e11388b7f3be8
}