body {
	margin: 0;
	padding: 0;
}

.fp-content {
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: $lightGray;
}

.about-short {
	height: 50vh;
	background: $darkBlue;
	p {
		margin: 0;
	}
}

.bar {
	width: 100%;
	height: 50vh;
	background-image: url(https://unsplash.it/1600/800?image=723);
	background-size: cover;
	background-position: center center;
	
	p {
		color: $teal;
		font-size: 50px;
	}

}