ul.menu {
	margin: 0;
	padding: 0;
<<<<<<< HEAD
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 1.5;

=======
>>>>>>> c33035f6728b2e00faa5af89d06e11388b7f3be8
	li {
		display: inline;
		margin-right: 10px;
		a {
<<<<<<< HEAD
			padding: 10px;
			color: $teal;
			&:hover {
				color: white;
			}
=======
			color: #333;
			padding: 10px;
			background: #333;
			color: white;
>>>>>>> c33035f6728b2e00faa5af89d06e11388b7f3be8
		}
	}
}