.sidebar {
<<<<<<< HEAD
	min-height: 100%;
	padding: 20px;
	width: 30%;
	float: left;
	background: $darkBlue;

	ul {
		margin: 0;
		padding: 0;
	
=======
	width: 30%;
	float: left;
	ul {
		margin: 0;
		padding: 0;
>>>>>>> c33035f6728b2e00faa5af89d06e11388b7f3be8
		li {
			list-style: none;
		}
	}
}
